<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Messing Around With Ionic</h1>
      </ion-header-bar>
      <!-- START - VIEW STUFF HERE -->
      <ion-content ng-controller="MyCtrl">


        <!-- list items - from a scope array -->
        <div class="list">
          <div class="item item-divider">List items from controller</div>
          <a class="item item-icon-left" href="#" ng-repeat="item in listItems">
             <i class="icon" ng-class="item.icon"></i>{{item.title}}
           </a>
        </div>


        <!-- inset List - from a scope array -->
        <div class="list">
          <div class="item item-divider">Inset List items from controller</div>
          <div class="list list-inset">
            <a class="item" href="#" ng-repeat="item in listItems">{{item.title}}</a>
          </div>
        </div>


        <!-- form elements -->


      <div class="list">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="user name">
          </label>
        </div>

        <div class="list">
           <label class="toggle">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>         
        </div>

<a class="item item-icon-left" >
  <i class="icon ion-heart"></i>
  Record album
  <span class="item-note">
<!--      <label class="toggle">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>     -->
  </span>
</a>



        <div style="padding-left:4px;padding-right:4px;">
          <button class="button button-positive button-full" >button-positive</button>
        </div>
        
      </div>














      <!-- END - VIEW STUFF HERE -->
      </ion-content>
    </ion-pane>
  </body>
</html>
